.content-dispenser {
  margin-top: 1.1rem;
  display: block;
  width: auto; 
  height: 1rem;
  overflow: hidden;
  transition: .5s 2.1s;
}

.content-dispenser:hover {
  height: auto;
  transition: .5s .5s;
}

.dispenser-header {
  margin-top: -1.1rem;
  position: absolute;
  cursor: pointer;
  font-size: .9rem;
  color: #999;
}

.content-dispenser div.dispenser-inner {
  display: block;
  transform: translateY(-130%);
  transition: .5s .1s;
  background: #fff;
}

.content-dispenser:hover div.dispenser-inner {
  display: block;
  transform: translateY(1%);
  transition: .5s .1s;
}