.Resume {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  margin: auto auto 125px auto;
  padding: 2vw 5.5vw;
  color: hsla(0, 0%, 30%, 1);
  font-size: 14px;
}

.Resume h1,
.logo-title {
  font-size: 1.75rem;
  padding: 0;
  margin: 2rem 0 0 0;
  font-family: Roboto;
}

.Resume h1 b {
  font-weight: 900 !important;
}

.logo-title {
  font-weight: 100;
  font-size: 1.5rem;
}

.Resume ul {
  list-style: none;
  padding: 0.15rem 0;
  font-size: 0.9rem;
  font-weight: 100;
  font-family: Tajawal;
  margin: 0.1rem;
}

.resume .c3 {
  width: 98%;
  margin: 1% auto;
  padding: 0;
}

.resume .resume-print-button {
  padding: 0 3px !important;
  font-size: 15px;
}

.resume .resume-print-button a {
  padding: 0 2px !important;
  font-size: 15px;
}

.back-button {
  font-size: 14px;
  padding: 0 0 0 3px !important;
  width: 54px;
}

#links,
#skills,
#experience-container {
  width: 100%;
}

#links {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#links ul,
#skills ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  line-height: 0.5rem;
}

#links ul li {
  display: inline-block;
  padding: 0.5rem;
  line-height: 1rem;
}

#links .label {
  font-weight: bold;
  font-size: 0.9rem;
  color: hsl(15, 78%, 42%);
  color: hsl(199, 100%, 42%);
}

#links .text,
#links .text a {
  font-weight: 200;
  color: hsl(199, 100%, 28%);
  padding: 5px 2px 0;
}

.resume a {
  padding: 5px 2px 0;
}

.resume a:hover {}

#links .text {
  margin: 0 0.2rem;
}

#skills {
  opacity: 1;
}

#skills ul li {
  display: inline-block;
  padding: 0.5rem;
}

.experience-header {
  border-bottom: #999 1px dotted;
  margin-bottom: 1rem;
}

.experience-columns {
  display: flex;
  flex-wrap: wrap;
}

.experience .dates {
  margin: 0.32rem 0 0 0;
}

.experience .skills-used {
  display: inline;
}

.experience .skills-used li {
  display: inline-block;
  margin: auto 3px;
  font-size: 10px;
  font-weight: 400;
  text-transform: uppercase;
  background: #777;
  padding: 4px 3px 0;
  line-height: 1em;
  vertical-align: middle;
  color: #eee;
  border-radius: 2px;
  letter-spacing: 0.05rem;
}

.column {
  width: 300px;
  margin: 0.5rem;
  min-width: 185px;
  -ms-flex: 1 1;
  flex: 1 1;
}

.column:first-child {
  padding-right: 2.8rem;
}

.experience {
  min-width: 30%;
  width: 98%;
  flex: 0.5;
  flex-wrap: wrap;
}

.experience h3 {
  margin: 0;
  font-weight: 500;
  font-size: 1.1em;
}

.experience .company {
  opacity: 1;
}

.experience .job-title {
  font-style: oblique;
}

.experience .location {
  font-weight: 300;
}

.experience .description {
  font-size: 0.9rem;
  font-style: oblique;
}

.experience .highlights ul {
  opacity: 1;
}

.experience .highlights ul>li {
  /* margin-left: 4rem;
  padding-left: 0; */
}

@media print {

  .content-dispenser,
  .footer,
  .back-button,
  .resume-print-button {
    display: none;
  }

  .content-page .r3 {
    -ms-flex: 1 1;
    flex: 1 1;
  }

  .resume .c3 {
    padding: 0;
    margin: 0;
    border: 4px #ddd solid;
    border-radius: 0 3.6rem 0 0;
    width: 8in;
  }

  .Resume {
    margin-bottom: 0;
  }

  .Resume h2 {
    margin: 0;
  }

  .Resume h3 {
    margin: 0;
    padding: 0;
    font-weight: 500;
    font-size: 1.1em;
  }

  #links ul {
    margin: .7rem .5rem .5rem;
  }

  #links ul li {
    margin: 0;
    padding: .2rem 0;
  }

  #skills ul {
    margin: .9rem;
  }

  .experience-header {
    margin-bottom: 1rem !important;
  }

  .highlights {
    margin: .4rem 0 0 0;
  }

}