body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #444;
  font-family: Roboto, sans-serif;
}

a {
  text-decoration: none;
  color: #444;
}

.transition-3 {
  transition: .3s ease-out;
}

.container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: start;
  align-items: flex-start;
  height: 8rem;
}

/* .container.landing-screen {
  height: 97vh;
} */

.header div {
  -ms-flex: 1 1;
  /* flex: 1 1; */

  /* border: 1px #c33 solid;
  min-height: 2vh; */
}

.header {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: space-between;
  -ms-flex-align: center;
  align-items: flex-start;
  height: 15vh;
  -webkit-transition: 0.4s 0 ease-out;
  -o-transition: 0.4s 0 ease-out;
  transition: justify-content 0.4s 0 ease-out;
  -ms-flex-flow: row-reverse;
  flex-flow: row-reverse;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: .5rem;
}

/* .landing-screen .header {
  height: 99vh;
} */

.header .logo {
  width: auto;
  height: auto;
  text-align: center;
  position: static;
  white-space: nowrap;
  -webkit-transform: scale(.65);
  -ms-transform: scale(.65);
  transform: scale(.65);
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
}

.landing-screen .header {
  justify-content: center;
}

.landing-screen .header .logo {
  width: auto;
  height: auto;
  text-align: center;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  justify-content: center;
  white-space: nowrap;
  transform-origin: 0;
}

.header .logo h1 {
  font-family: 'Roboto Slab', serif;
  font-size: 2.65rem;
  line-height: 2.25rem;
  text-transform: uppercase;
  letter-spacing: 0.35rem;
  margin: 0;
}
.header .logo h2 {
  font-size: 1.2rem;
  line-height: 1.75rem;
  text-transform: uppercase;
  letter-spacing: 0.72rem;
  margin: 0.6rem 0;
  font-weight: 100;
  font-family: Lato;
}

.footer {
  display: flex;
  justify-content: center;
  height: 95px;
  background: url(./components/images/atl.svg);
  width: 100%;
  align-items: flex-end;
  color: #777;
  font-size: .68rem;
  font-weight: 100;
  letter-spacing: .2rem;
  padding-bottom: 2px;
}

.landing-screen .footer {
  height: 0;
  overflow: hidden;
}

.contactContent {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: start;
  justify-content: flex-start;
  width: 18rem;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-direction: column;
  flex-direction: column;
  float: right;
  -ms-flex-align: right;
  align-items: right;
  margin-right: 1.5rem;
}
.contact-content ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.contact-content ul li {
  display: block;
  color: #777;
  padding: 2px 5px;
  font-family: 'Lato';
}
.contact-content ul li a {
  text-decoration: none;
  color: #444;
}


body {
  box-sizing: border-box;
}
a { text-decoration: none; }
.container {
  display: flex;
  width: 99vw;
  min-height: 98vh;
  flex-direction: column;
  justify-content: space-between;
  transition: 1s;
}
.row {
  display: flex;
  width: 100%;
  transition: 1s;
  flex: 1;
  justify-content: space-around;
}
.c {
  transition: 1s;
  /* border: 1px #f6f6f6 solid; */
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 0;
}

.r3 .c {
  align-items: flex-start;
}

  /*         CONFIGURATIONS          */
.c5 {
  flex: 1;
  flex-direction: column;
}
.c4, .c6 {
  flex: 0;
}
.r1 {
  flex: 0;
}

.r3 {
  /* padding: 3rem 2rem 1rem; */
}

.r4 {
  position: fixed;
  bottom: 0;
}

  /*  LANDING-SCREEN   */
.landing-screen .r2 {
  flex: 1;
}

.landing-screen .r3 {
  flex: 0;
  height: 0;
  overflow: hidden;
}

  /*  CONTENT-PAGE   */
.content-page .r2 {
    -ms-flex-preferred-size: 10px;
    flex-basis: 10px;
    -ms-flex: 1 1;
    flex: 1 1;
    min-height: 7.5rem;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: all 1s;
    -ms-flex-align: start;
    align-items: flex-start;
}

  .content-page .header {
    height: auto;
    flex-direction: row;
    flex: 4;
    width: auto;
  }

.content-page .r3 {
  flex: 4;
}

.nav-links a {
    padding: 1px 5px 0;
    border-radius: 3px;
    display: inline-block;
}

.nav-links li.active,.nav-links li:hover {
  font-weight: 900;
  border-bottom: 2px #ddd solid;
}

.content-page .nav-links {
  margin: -.5rem 0 0;
  padding: 0;
}

  /* PAGE-7   */
  .about .c8, .about .c9 {
    flex: 0;
    opacity: 0;
    height: 0;
  }

  /* PAGE-8   */
  .projects .c7,  .projects .c9, .display-project .c7,  .display-project .c9 {
    opacity: 0;
    height: 0;
    flex: 0;
  }

  /* PAGE-9   */
  .contact .c7,  .contact .c8 {
    opacity: 0;
    height: 0;
    flex: 0;
  }

  .content-block {
    margin-bottom: 1.1rem;
    display: block;
    overflow: auto;
  }

  .content-flex {
    display: flex;
  }



  @media screen and (max-width:600px) {
    .content-page .header a {
      width: 100%;
    }

   .content-page .header .logo {
    margin: auto;
  }
 }

 @media screen and (max-width:400px) {
  .landing-screen .header .logo {
    transform: scale(.8);
    transform-origin: center;
  }
 }