@import url(/css/fonts.css);

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #444;
  font-family: Roboto, sans-serif;
  font-size: 18px;
  line-height: 1.53rem;
}

a {
  text-decoration: none;
  color: #444;
  padding: 0.1rem 0.2rem;
}
a:hover {
  border-bottom: 2px solid rgb(223, 223, 223);
    background: rgb(241, 241, 241);
    border-radius: 5px;
    padding: 0.1rem 0.2rem;
}

.projectBox a:hover {
  border: none;
}

.logo a:hover {
  padding: 0.1rem 0.2rem
}

.header a:hover {
  /* padding: 1px 5px 0; */
  background: transparent;
  border: 0;
}

.transition-3 {
  transition: 0.3s ease-out;
}

.container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: start;
  align-items: flex-start;
  height: 8rem;
}

/* .container.landing-screen {
  height: 97vh;
} */

.header div {
  -ms-flex: 1 1;
  /* flex: 1 1; */

  /* border: 1px #c33 solid;
  min-height: 2vh; */
}

.header {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: space-between;
  -ms-flex-align: center;
  align-items: flex-start;
  height: 15vh;
  -webkit-transition: 0.4s 0 ease-out;
  -o-transition: 0.4s 0 ease-out;
  transition: justify-content 0.4s 0 ease-out;
  -ms-flex-flow: row-reverse;
  flex-flow: row-reverse;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0.5rem;
}

/* .landing-screen .header {
  height: 99vh;
} */

.header .logo {
  width: auto;
  height: auto;
  text-align: center;
  position: static;
  white-space: nowrap;
  -webkit-transform: scale(0.65);
  -ms-transform: scale(0.65);
  transform: scale(0.65);
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
  -webkit-transition: all 1s;
}

.landing-screen .header {
  justify-content: center;
}

.landing-screen .header .logo {
  width: auto;
  height: auto;
  text-align: center;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  justify-content: center;
  white-space: nowrap;
  transform-origin: center;
  transform: scale(1.5);
}

.header .logo h1 {
  font-family: Vollkorn, Alegreya, serif;
  font-size: 2.65rem;
  line-height: 2.25rem;
  text-transform: uppercase;
  letter-spacing: 0.42rem;
  margin: 0;

  background: -webkit-linear-gradient(top, #043e64 0%,#0c3556 10%,#122d48 25%,#0e2c4c 37%,#0b2d51 50%,#0c2844 51%,#0a3e58 83%,#035867 100%);
  
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-transition: all 1.5s;
  transition: all 1.5s;
}

.content-page .header .logo:hover  h1{
  background: -webkit-linear-gradient(bottom, #097fcd 0%,#196db1 10%,#245b92 25%,#1e5b9c 37%,#165ca6 50%,#18528c 51%,#147fb4 83%,#06b3d2 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 1.5s;  
}

.header .logo h2 {
  font-size: 1.2rem;
  line-height: 1.75rem;
  text-transform: uppercase;
  letter-spacing: 0.72rem;
  margin: 0.6rem 0;
  font-weight: 100;
  font-family: Lato;
}
.content-page .header .logo:hover h2 {
  color: #559;
}

.footer {
  display: flex;
  justify-content: center;
  height: 95px;
  background: url(./components/images/atl.svg);
  width: 100%;
  align-items: flex-end;
  color: #777;
  font-size: 0.68rem;
  font-weight: 100;
  letter-spacing: 0.2rem;
  padding-bottom: 2px;
}

.landing-screen .footer {
  height: 0;
  overflow: hidden;
}

.contactContent {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: start;
  justify-content: flex-start;
  width: 18rem;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-direction: column;
  flex-direction: column;
  float: right;
  -ms-flex-align: right;
  align-items: right;
  margin-right: 1.5rem;
}
.contact-content ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.contact-content ul li {
  display: block;
  color: #777;
  padding: 2px 5px;
  font-family: 'Lato';
}
.contact-content ul li a {
  text-decoration: none;
  color: #444;
}

body {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
.container {
  display: flex;
  width: 99vw;
  min-height: 98vh;
  flex-direction: column;
  justify-content: space-between;
  transition: 1s;
}
.row {
  display: flex;
  width: 100%;
  transition: 1s;
  flex: 1;
  justify-content: space-around;
}
.c {
  transition: 1s;
  /* border: 1px #f6f6f6 solid; */
  display: flex;
  flex: 0;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  opacity: 0;
  height: 0;
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 0;
}

.r3 .c {
  align-items: flex-start;
}

/*         CONFIGURATIONS          */
.c5 {
  flex: 1;
  flex-direction: column;
}
.c4,
.c6 {
  flex: 0;
}
.r1 {
  flex: 0;
}

.r3 {
  /* padding: 3rem 2rem 1rem; */
}

.r4 {
  position: fixed;
  bottom: 0;
}

/*  LANDING-SCREEN   */
.landing-screen .r2 {
  flex: 1;
}

.landing-screen .r3 {
  flex: 0;
  height: 0;
  overflow: hidden;
}

.landing-screen .c5 {
  opacity: 1;
  height: 100%;
}

/*  CONTENT-PAGE   */
.content-page .r2 {
  -ms-flex-preferred-size: 10px;
  flex-basis: 10px;
  -ms-flex: 1 1;
  flex: 1 1;
  min-height: 7.5rem;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: all 1s;
  -ms-flex-align: start;
  align-items: flex-start;
}

.content-page .header {
  height: auto;
  flex-direction: row;
  flex: 4;
  width: auto;
}

.content-page .r3 {
  flex: 4;
}

.nav-links a {
  padding: 1px 5px 0;
  border-radius: 3px;
  display: inline-block;
}

.nav-links li.active,
.nav-links li:hover {
  font-weight: 900;
  border-bottom: 2px #ddd solid;
}

.content-page .nav-links {
  margin: -0.5rem 0 0;
  padding: 0;
}

.content-page .c5 {
  opacity: 1;
  height: 100%;
  flex: 1;
}

/* PAGE-3   */

.resume .c {
  height: 0;
  flex: 0;
}

.resume .c3 {
  height: 100px;
  width: 100%;
  flex: 1 1;
  display: table;
  padding: 1vw 4vw;
  border: 1px #ccc solid;
  opacity: 1;
  margin: 1rem;
}

.resume .c3 {
  flex: 1;
  height: 100%;
}

/* PAGE-7 (about)   */

.about .c7 {
  height: 100%;
  opacity: 1;
  flex: 1;
}

/* PAGE-8   */
/* .projects .c7,
.projects .c9,
.display-project .c7,
.display-project .c9 {
  opacity: 0;
  height: 0;
  flex: 0;
} */

.projects .c8 {
  height: 100%;
  opacity: 1;
  flex: 1;
}

.display-project .c8 {
  height: 100%;
  flex: 1;
  opacity: 1;
}

.project-techs-buttons h3 {
  margin: 0;
    font-size: 1.1rem;
}

.project-techs-buttons button {
  border: 0;
    padding: .2rem 1rem;
    font-size: 13px;
    background: transparent;
}

.project-techs-buttons button::before {
  content: '';
  border-radius: 100%;
  background: #ccc;
  width: .8rem;
  height: .8rem;
  display: inline-block;
  margin: .2rem;
  padding: 0;
  transition: .3s;
  transform: translateY(.3rem);
}

.project-techs-buttons button:hover::before {
  content: '';
  border-radius: 100%;
  background: #ccc;
  width: .8rem;
  height: .8rem;
  display: inline-block;
  margin: .1rem;
  padding: .1rem;
}

.project-techs-buttons button:focus::before {
  content: '';
  border-radius: 100%;
  background: #888;
  width: .8rem;
  height: .8rem;
  display: inline-block;
  margin: .1rem;
  padding: .1rem;
}

.project-techs-buttons button:hover {
  color: #222;
  cursor: pointer;
}

.project-techs-buttons button:focus {
  outline: 0;
}

/* PAGE-9   */
/* .contact .c7,
.contact .c8 {
  opacity: 0;
  height: 0;
  flex: 0;
} */

.contact .c9 {
  height: 100%;
  flex: 1;
  opacity: 1;
}

.content-block {
  margin-bottom: 1.1rem;
  display: block;
  overflow: auto;
  width:100%;
}

.content-flex {
  display: flex;
  margin: 1.5rem auto 4rem;
}

.more-info {
  top: 2rem;
  position: fixed;
  right: 2rem;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 600px) {
  .content-page .header a {
    width: 100%;
  }

  .content-page .header .logo {
    margin: auto;
  }

  .content-page .more-info {
    display: none;
  }

  .more-info {
    top: calc(50% + 8rem);
    animation: fade-in 3s forwards;
    opacity: 0;
  }
}

.resume-print-button a {
  top: 2rem;
  display: block;
  -webkit-transition: 0.5s 2.1s;
  -o-transition: 0.5s 2.1s;
  transition: 0.5s;
  position: fixed;
  right: 3rem;
  font-weight: 100;
  color: #999;
}

.resume-print-button a:hover {
  color: #333;
}

@media screen and (max-width: 400px) {
  .landing-screen .header .logo {
    transform: scale(0.8);
    transform-origin: center;
  }
}


@media print {
  body {
    line-height: 1.1rem;
    font-size: 15px;
  }
}